Name: <%= @artist.name %>
<br>
<% @artist.songs.each do |song| %>
    <% # binding.pry %>
    Song: <a href="/songs/<%= song.slug %>"><%= song.name %></a>
    <br>
<% end %>
<% @artist.genres.each do |genre| %>
    <% # binding.pry %>
    Genre: <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
    <br>
<% end %>